.text-grey-darkest {
    color: #3d4852;
}
.text-black {
    color: #22292f;
}
.text-grey-darkest {
    color: #3d4852;
}
.text-grey-darker {
    color: #606f7b;
}
.text-grey-dark {
    color: #8795a1;
}
.text-grey {
    color: #b8c2cc;
}
.text-grey-light {
    color: #dae1e7;
}
.text-grey-lighter {
    color: #f1f5f8;
}
.text-grey-lightest {
    color: #f8fa
}
.text-green-darkest {
    color: #0f2f21;
}
.text-green-darker {
    color: #1a4731;
}
.text-green-dark {
    color: #1f9d55;
}
.text-green {
    color: #38c172;
}
.text-green-light {
    color: #51d88a;
}
.text-green-lighter {
    color: #a2f5bf;
}
.text-green-lightest {
    color: #e3fcec;
}
.text-red-darkest {
    color: #3b0d0c;
}
.text-red-darker {
    color: #621b18;
}
.text-red-dark {
    color: #cc1f1a;
}
.text-red {
    color: #e3342f;
}
.text-red-light {
    color: #ef5753;
}
.text-red-lighter {
    color: #f9acaa;
}
.text-red-lightest {
    color: #fcebea;
}
